ul.list-simple {
  li {
    margin-bottom: 1rem;
  }

  span {
    line-height: 1em;
    margin-top: 0.5rem;
  }
}

.content-wrapper {

}

.content-wrapper_blue {
  background: $theme-blue;
  color: #fff;
}

.content-wrapper_green {
  background: $theme-green;
  color: #fff;
}